@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, #d9f1d3, #f0f9ed); /* degradado verde claro */
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header img {
  width: 150px; /* Tamaño del logo */
}

header nav a {
  text-decoration: none;
  font-weight: bold;
}

header nav a:hover {
  background-color: #f0f0f0; /* Hover sobre los links del header */
}

.bg-gray-100 {
  background-color: #f3f3f3;
}
